@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 0.2em;
  z-index: -1;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #f9a825;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url("/orangeCross.png");
  background-size: 10px 10px;
  cursor: pointer;
}

.bgImg {
  background-image: url("/websiteBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(211, 211, 211, 0.459);
  mix-blend-mode: difference;
  opacity: 0.2;
}

.nav {
  position: sticky;
  top: 0;
}

.price {
  box-shadow: 0px 0px 0px 0px #edac45, 0px 0px 3px 0px rgba(237, 172, 69, 0.98),
    0px 0px 6px 0px rgba(237, 172, 69, 0.85),
    0px 0px 8px 0px rgba(237, 172, 69, 0.5),
    0px 0px 9px 0px rgba(237, 172, 69, 0.15),
    0px 0px 10px 0px rgba(237, 172, 69, 0.02);
}

@media (max-width: 1280px) {
  .slider {
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  .slider {
    height: 90vh;
  }
}

.button {
  display: none;
}

@media (min-width: 460px) {
  .button {
    display: block;
  }
}

.overflowHidden {
  overflow-y: hidden;
}

.slider1 {
  background-image: url("/mainphoto.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 300px;
  max-width: 1050px;
  width: 100%;
}

.slider2 {
  background-image: url("/backgroundMap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  height: 300px;
  max-width: 1050px;
  width: 100%;
}

.slider3 {
  background-image: url("/backgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 300px;
  max-width: 1050px;
  width: 100%;
}

@media (min-width: 640px) {
  .slider {
    background-image: url("/mainphoto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    height: 280px;
    max-width: 1050px;
    width: 100%;
  }
}

.boxshadow {
  transition: 0.2s;
  box-shadow: 0px 0px 0px 0px #edac45, 0px 0px 3px 0px rgba(237, 172, 69, 0.98),
    0px 0px 6px 0px rgba(237, 172, 69, 0.85),
    0px 0px 8px 0px rgba(237, 172, 69, 0.5),
    0px 0px 9px 0px rgba(237, 172, 69, 0.15),
    0px 0px 10px 0px rgba(237, 172, 69, 0.02);
}

@media (min-width: 1280px) {
  .boxshadow:hover {
    transition: 0.2s;
    box-shadow: none;
  }
}
